#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 20%;
}
#card-title{
    font-family: "Source Sans Pro", Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    letter-spacing: -0.1px;
    width: 60%;
    padding: 20px;
    font-weight: 600;
    color: rgb(31, 31, 31);
}
#card-description{
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    text-align: center;
}
